{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mx-auto p-6">


    <div class="shadow-md rounded-lg p-6">
        <form action="" method="post" class="space-y-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-control">
                    <label class="label" for="{{ field.id_for_label }}">
                        <span class="label-text">{{ field.label }}</span>
                    </label>
                    {% render_field field class="input input-bordered w-full" %}
                    {% if field.help_text %}
                        <p class="text-sm text-gray-500">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Add" class="btn btn-primary w-full">
        </form>
    </div>
</div>
{% endblock content %}
